<h1 id="tableLabel">Lista de tareas</h1>


<div *ngIf="todoItems">
  <div *ngFor="let todo of todoItems" class="todo-item">
    <h3>
      ({{ todo.id }}) {{ todo.title }} - {{ todo.description }}
      <span *ngIf="todo.category">({{ todo.category }})</span>
      Completed: {{ todo.isCompleted ? 'True' : 'False' }}
    </h3>

    <div *ngIf="todo.progressions && todo.progressions.length > 0" class="progressions">
      <div *ngFor="let prog of todo.progressions" class="progression">
        <div>
          {{ prog.date | date: 'MM/dd/yyyy' }} - {{ prog.percent }}% |{{ 'O'.repeat(Math.floor(prog.percent / 2)) }}|
        </div>

      </div>
    </div>

    <hr />
  </div>
</div>

