:host {
    max-width: 1280px;
    padding: 2rem;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.todo-item {
  margin-bottom: 1rem;
  font-family: monospace;
}

.progress-bar {
  margin: 0;
  color: green;
  font-weight: bold;
}
